.root {
  .reviews {
    font-weight: 700;
    font-size: 1.9rem;
    line-height: 2.1rem;
    text-align: center;
    margin: 65px auto;
  }
  .container {
    max-width: 1181px;
    margin: 0 auto;
    color: #c2d8cc;
    .title {
      font-weight: 400;
      font-size: 4.2rem;
      line-height: 4.6rem;
      text-align: center;
      margin-bottom: 50px;
    }
    .text {
      font-size: 1.9rem;
      line-height: 2.5rem;
      text-align: center;
      margin-bottom: 35px;
    }
    .author {
      color: #ffffff;
      font-size: 1.6rem;
      line-height: 2.1rem;
      text-align: center;
      margin-bottom: 60px;
    }
  }
}
