.root {
  .upper {
    background-color: #332b5b;
    .container {
      max-width: 1310px;
      margin-left: auto;
      margin-right: auto;
      .discount {
        padding: 7px 0;
      }
    }
    .discount {
      text-align: center;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1.8rem;
    }
  }
  .main {
    position: relative;
    .container {
      margin-left: auto;
      margin-right: auto;
      padding: 30px 65px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .navigation {
        .list {
          display: flex;
          @media (max-width: 735px) {
            display: none;
          }
          .item {
            transition-duration: 0.5s;
            &:hover {
              scale: 1.1;
            }
            &:last-of-type {
              .link {
                margin-right: 0;
              }
            }
            .link {
              font-size: 1.6rem;
              line-height: 1.8rem;
              margin-right: 32px;
              @media (max-width: 775px) {
                margin-right: 14px;
              }
            }
          }
        }
      }
      .img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
      }
      .cart {
        transition-duration: 0.5s;
        &:hover {
          scale: 1.1;
        }
        .link {
          font-size: 1.4rem;
          line-height: 1.8rem;
          @media (max-width: 735px) {
            display: none;
          }
        }
      }
      .drawer {
        display: none;
        z-index: 30;
        align-items: center;
        justify-content: flex-end;
        width: 30px;
        height: 18px;
        cursor: pointer;
        position: relative;
        span {
          display: inline-block;
          height: 2px;
          width: 80%;
          background-color: #ffffff;
        }
        &::before,
        &::after {
          position: absolute;
          content: "";
          height: 2px;
          width: 27px;
          background-color: #ffffff;
        }
        &::before {
          top: 0px;
        }

        &::after {
          bottom: 0px;
        }
        @media (max-width: 735px) {
          display: flex;
        }
      }
    }
  }
}
