.root {
  .upper {
    .background {
      background-image: url("/img/banner/vector.svg"),
        url("/img/banner/Rectangle.png");
      background-repeat: no-repeat;
      background-position-y: 100%, 104%;
      background-size: contain, cover;
      @media (max-width: 775px) {
        background-position-x: 100%, 50%;
      }
      @media (max-width: 700px) {
        background-position-x: 100%, 12%;
      }
      .container {
        padding-top: 91px;
        padding-left: 65px;
        padding-bottom: 254px;
        @media (max-width: 700px) {
          padding-top: 50px;
          padding-left: 30px;
          padding-bottom: 190px;
        }
        .title {
          font-size: 4.2rem;
          line-height: 4.6rem;
          margin-bottom: 9px;
        }
        .text {
          font-size: 1.9rem;
          line-height: 2.5rem;
          margin-bottom: 25px;
        }
      }
    }
  }

  .lower {
    background-color: #c2d8cc;
    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 23px;
      padding-bottom: 30px;
      @media (max-width: 1200px) {
        flex-wrap: wrap;
      }
      img:nth-of-type(5) {
        margin: auto 15px;
      }
    }
  }
}
